@charset "UTF-8";

tr {
	text-align: center;
	margin:20px;
	border:solid 1px rgb(192, 192, 192);
}

td {
	text-align: left;
	margin:5px 10px;
	padding:10px 10px;
/*	border:solid 1px rgb(192, 192, 192);*/
}

.holiday{
	justify-content: left;
	display: flex;
}

h1,h2,h3,h4,h5,h6{
	margin:10px 5px;	
}

.form-container{
	margin:10px 10px;
	justify-content: left;
	display: flex;	
}
.form-container>form{
	margin:0 5px;
}
td.area{
	text-align: center;
	padding-right: 30px;
}
details{
	background-color: lightgray;
	padding: 5px;
	width: 100;
}
details h6{
	text-align: left;
	margin:5px;
	padding-left: 20px;
}

details div{
	border:solid 1px black;
	border-radius: 1%;
	margin: 10px;
}