<!DOCTYPE html>
<html xmlns="http;//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログインテスト成功画面</title>
</head>
<body>
	<h1>ログイン成功しました。</h1>
	<div th:Object="${storeInfo}">
		<p th:text="*{storeName}"></p>
		<p th:text="*{mail}"></p>
		<p th:text="*{phone}"></p>
		<p th:text="*{City}"></p>
		<p th:text="*{municipalities}"></p>
		<p th:text="*{streetAddress}"></p>
	</div>
<!--	<div th:Object="${userInfo}">-->
<!--		<p th:text="*{userName}"></p>-->
<!--		<p th:text="*{userNameFurigana}"></p>-->
<!--		<p th:text="*{mail}"></p>-->
<!--		<p th:text="*{phone}"></p>-->
<!--		<p th:text="*{city}"></p>-->
<!--		<p th:text="*{municipalities}"></p>-->
<!--		<p th:text="*{userAddress}"></p>-->
<!--	</div>-->
</body>
</html>