<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" >
<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/store-view-layout.css}" type="text/css">
<meta charset="UTF-8">
<title>予約完了</title>
</head>
<body>
	<header th:replace="~{/view/header::header}"></header>
	<div class="container">
		<h3 th:text="${complete}"></h3>
		
		<div class="user-container">
			<h5>予約者情報</h5>
			<table th:Object="${userInfo}">
				<tr>
					<td>ID</td>
					<td th:text="*{userId}"></td>
				</tr>
				<tr>
					<td>氏名</td>
					<td th:text="*{userName}"></td>
				</tr>
				<tr>
					<td>ふりがな</td>
					<td th:text="*{userNameFurigana}"></td>
				</tr>
				<tr>
					<td>住所</td>
					<td th:text="*{city} + *{municipalities}
								+ *{userAddress} + *{building}"></td>
				</tr>
				<tr>
					<td>連絡先</td>
					<td th:text="'TEL：' + *{phone} + '　MAIL：' + *{mail}"></td>
				</tr>		
			</table>
		</div>
		<div class="store-container">
			<h5>予約店舗情報</h5>
			<table th:Object="${storeView}">
				<tr>
					<td>ID</td>
					<td th:text="*{storeId}"></td>
				</tr>
				<tr>
					<td>店舗名</td>
					<td th:text="*{storeName}"></td>
				</tr>
				<tr>
					<td>住所</td>
					<td th:text="*{city} + *{municipalities}
								+ *{streetAddress} + *{building}"></td>
				</tr>
				<tr>
					<td>連絡先</td>
					<td th:text="'TEL：' + *{phone} + '　MAIL：' + *{mail}"></td>
				</tr>
				<tr>
					<td>定休日</td>
					<td class="holiday">
						<div th:each="holiday:*{holidays}">
							<span th:text="${storeView.getJPDayOfWeek(holiday)}"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>営業時間</td>
					<td th:text="'開店時間：' + *{isOpened} + '　閉店時間：' + *{isClosed}"></td>
				</tr>
				<tr>
					<td>予約日</td>
					<td th:text="${reservation.atReservationDate}"></td>
				</tr>				
				<tr>
					<td>予約人数</td>
					<td th:text="${reservation.numOfPeople}">
					</td>
				</tr>				
			</table>
		</div>
		<div class="form-container">
			<form method="post" th:action="@{to-store-list}">
				<input class="btn btn-primary" type="submit" value="店舗一覧画面に戻る">								
			</form>				
		</div>
	</div>
</body>
</html>