<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" >
<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/store-view-layout.css}" type="text/css">
	<meta charset="UTF-8">
	<title>店舗の詳細画面</title>
</head>
<body>
	<header th:replace="~{/view/user-header::user-header}"></header>
	<div class="container">
		<div class="user-container">
			<div th:Object="${userInfo}">
				<p th:text="*{userName} + 'さん、こんにちは' "></p>
			</div>
		</div>
		<form method="post" th:action="@{reserve-confirm}">
			<table th:Object="${storeView}">
				<tr>
					<td>店舗名</td>
					<td th:text="*{storeName}"></td>
				</tr>
				<tr>
					<td>住所</td>
					<td th:text="*{city} + *{municipalities}
								+ *{streetAddress} + *{building}"></td>
				</tr>
				<tr>
					<td>連絡先</td>
					<td th:text="'TEL：' + ${storeView.getPhoneAddHyphen()} + '　MAIL：' + *{mail}"></td>
				</tr>
				<tr>
					<td>定休日</td>
					<td class="holiday">
						<div th:each="holiday:*{holidays}">
							<span th:text="${storeView.getJPDayOfWeek(holiday)}"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>営業時間</td>
					<td th:text="'開店時間：' + *{isOpened} + '　閉店時間：' + *{isClosed}"></td>
				</tr>
				<tr>
					<td>予約日</td>
					<td>
						<input name="atReservationDate" th:name="atReservationDate" id="atReservationDate" type="date" th:value="${atReservationDate}" required>
						<th:block  th:each="error:${errors}">
							<div th:if="${errors != null}">
									<div class="text-danger" th:if="${error.key == 'reservationDateError'}" th:text="${error.value}"></div>
									<div class="text-danger" th:if="${error.key == 'reservationLimitError'}" th:text="${error.value}"></div>
							</div>
						</th:block>
					</td>
				</tr>				
				<tr>
					<td>予約人数</td>
					<td>
						<input th:name="numOfPeople" name="numOfPeople" id="numOfPeoplle" type="number" min="1" th:value="${numOfPeople}" required>
						<th:block  th:each="error:${errors}">
							<div th:if="${errors != null}">
								<div class="text-danger" th:if="${error.key == 'numOfPeopleError'}" th:text="${error.value}"></div>
							</div>
						</th:block>
					</td>
				</tr>
			</table>
			
			<input type="hidden" th:name="storeId" th:value="${storeView.storeId}">
			<input type="hidden" th:name="storeName" th:value="${storeView.storeName}">
			<input type="hidden" th:name="postCode" th:value="${storeView.postCode}">
			<input type="hidden" th:name="city" th:value="${storeView.city}">
			<input type="hidden" th:name="municipalities" th:value="${storeView.municipalities}">
			<input type="hidden" th:name="streetAddress" th:value="${storeView.streetAddress}">
			<input type="hidden" th:name="building" th:value="${storeView.building}">
			<input type="hidden" th:name="mail" th:value="${storeView.mail}">
			<input type="hidden" th:name="phone" th:value="${storeView.phone}">
			<input type="hidden" th:name="storeReservationLimit" th:value="${storeView.storeReservationLimit}">
			<input type="hidden" th:name="isOpened" th:value="${storeView.isOpened}">
			<input type="hidden" th:name="isClosed" th:value="${storeView.isClosed}">
			<input type="hidden" th:name="holidays" th:each="holiday:${storeView.holidays}" th:value="${holiday}">
			<input class="btn btn-primary" type="submit" value="確認">
		</form>
	</div>
</body>
</html>