<!DOCTYPE html>
<html xmlns="">
<head>
	<link rel="stylesheet" th:href="@{../../css/header.css}" href="#" type="text/css">
	<link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="#" type="text/css">
	<link rel="stylesheet" th:href="@{../../css/confirm.css}" href="#" type="text/css">
	<meta charset="UTF-8">
	<title>店舗一覧画面</title>
</head>
<body>
	<header th:replace="~{/view/header::header}"></header>
	<div class="container">
		<div class="user-name" th:Object="${userInfo}">
			<p th:text="*{userName}"></p>
		</div>

		
<!--		<div class="store-list">-->
<!--			<th:each="storeInfo:${storeInfoList}">-->
<!--				<ul>-->
<!--					<li th:text="${storeInfo.storeName}"></li>-->
<!--				</ul>-->
<!--			</th:each>-->
<!--		</div>-->
	</div>
	
</body>
</html>