<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
		<title th:text="${title}">Insert title here</title>
	</head>
	<body>
		<table th:object="${userInfoList}">
			<thead>
				<tr>
					<th>ID</th>
					<th>パスワード</th>
					<th>名前</th>
					<th>ふりがな</th>
					<th>メール</th>
					<th>電話番号</th>
					<th>郵便番号</th>
					<th>都道府県</th>
					<th>県庁所在地</th>
					<th>それ以降の住所</th>
					<th>建物名</th>
					<th>登録日</th>
					<th>最終更新日</th>
				</tr>
			</thead>
			<tbody th:each="userInfo:${userInfoList}">
				<tr>
					<td th:text="${userInfo.userId}">ID</td>
					<td th:text="${userInfo.usePassword}">パスワード</td>
					<td th:text="${userInfo.userName}">名前</td>
					<td th:text="${userInfo.userNameFurigana}">ふりがな</td>
					<td th:text="${userInfo.mail}">メール</td>
					<td th:text="${userInfo.phone}">電話番号</td>
					<td th:text="${userInfo.userId}">郵便番号</td>
					<td th:text="${userInfo.city}">都道府県</td>
					<td th:text="${userInfo.municipalities}">県庁所在地</td>
					<td th:text="${userInfo.userAddress}">それ以降の住所</td>
					<td th:text="${userInfo.building} ? ${userInfo.building} : ' '"></td>
					<td th:text="${userInfoList.userId}">登録日</td>
					<td th:text="${userInfo.updateAt} ? ${userInfo.updateAt} : ' '">最終更新日</td>					
				</tr>
			</tbody>
		</table>
		
	</body>
</html>